{% extends "base.html" %}
{% block link %}


        <html id='html_tentativas_acesso'>
        <link rel="stylesheet" href="/assets/css/home.css">    
        <title>Tentativas de Acesso</title>
{% endblock %}

    
{% block body %}
{% set username = constant('USERNAME') %}
{% set useremail = constant('USEREMAIL') %}
{% set userid = constant('USERID') %}
{% set userdata = constant('USER_DATA') %}

<section id="conteudo">

    <header id="header" >
        {{include('/assets/dados_session.html')}}
        {{include('/assets/nav.html')}}

    </header>
    
    {{include('/assets/tabela.html')}}



    {{include('/assets/sessao_modal_cadastro.html')}}

</section>

{% endblock %}

{% block script %}
<script src="/assets/js/listar_tentativaslogin.js"></script>
{% endblock %}