@charset "UTF-8";

/* body  */
.body {
    /* background-color: rgb(26, 25, 25); */
   background: url(/assets/img/7084.svg);
   
    /* filter: grayscale(100%); */
    height: 100vh;
    width: 100%;
    
} 
#img{
    filter: grayscale(100%); 
}
.body_ligth{
    background-color: rgb(235, 233, 233);
   
    height: 100vh;
    width: 100%;
}
#conteudo {  
   
    height: 100vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(235, 233, 233); */
    align-items: center;
    flex-direction: column;
   gap: 30px;
}
#header{ 
    /* background-color: rgba(0, 255, 8, 0.333); */
    /* border: 1px solid rgba(160, 157, 157, 0.485); */
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 10px;
    padding: 10px;
}
#nav{ 
    /* background-color: rgba(255, 0, 200, 0.581); */
    /* width: 100%; */
    /* padding: 10px 0px 10px 0px; */
}
.navbar{
    border: 1px solid rgba(160, 157, 157, 0.485);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.300);
    border-radius: 3px;
}
#div_icons{ 
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    
    gap: 10px;
}
#div_icons i{ 

}

#sessao_adm{
    /* background-color:white; */
    /* width: 30%; */
      border: 1px solid rgba(160, 157, 157, 0.485);
    /* min-width: 300px; */
    /* background-color: rgba(255, 0, 0, 0.342); */
    /* padding: 10px;
    margin: 5px; */
    /* border-radius: 7px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px); */
    /* border: 1px solid rgba(160, 157, 157, 0.485); */
    /* position: absolute; */
    /* justify-content: end;
    align-items: stretch; */
    /* margin-top: 5px; */
    padding-top: 10px;
    /* padding-left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px
}
#div_info{ 

    display: flex;
    flex-direction: column;
}
#fotoPerfil{
    /* background-color: red; */

}
#img_perfil{
    width: 100%;
    height: 70px;
}
#nomeAdm{
    min-width: 200px;
}



#sessao_cadastro{ 
    /* background-color: rgb(255, 0, 225); */
}
#sessao_tabela{ 
    /* background:  white; */

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(160, 157, 157, 0.485);
   


    padding: 20px;
   
    /* margin: 20px; */
    border-radius: 5px;
    /* border : 1px solid black */
}

#table1 { 
    width: 100%;
   
}
/* datatable ------  */
ul.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
}
ul.pagination:hover{
    background-color: transparent !important;
}
.dt-search{
/*  
    background-color: white; */
    padding: 5px;

}
.dt-length{ 
    padding: 5px;
    /* background-color: white; */
}
.dt-buttons { 
    padding: 5px;
    /* background-color: white; */
    width: 50%;
}

#table1 { 
    border: solid 1px rgba(15, 15, 15, 0.212);

}
.dt-buttons{
    display: flex;
    align-items: center !important;
    justify-content: center;
}
#table1_wrapper{
    padding: 8px;
    border-radius: 8px;
    /* background: rgba(255, 255, 255, 0.391); */
   
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(160, 157, 157, 0.485);
}
.dt-search {
    float: right;
}
 
.dt-length{
    float: left;
}
.dt-buttons{ 
  
 
    justify-content: end;
    width: 100%;
    gap :10px
}


/* Sessao modal  */
 #sessao_modal{ 
 
    display: flex;
    justify-content: center;
    align-items: center;

}
 #myModal{
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
  /* padding-top: 250px; */
} 
.modal-content{ 
    height: auto;
    width: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.500);
}
#form_cad{ 
    display: flex;
    flex-direction: column;
    gap: 0px;
}
#form_cad input { 
    /* background-color: red; */
    padding: 10;
}



/* Classes genericas  */

.h1s {
    /* color: rgb(0, 0, 0); */
    text-align: center;
}
.labelPerso{
    background-color: rgba(130, 128, 128, 0.256) !important;
}

.bg-transp { 
   
    /* background: rgba(255, 255, 255, 0.391); */
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);

}
#title_h3 { 
    font-family: "Madimi One", sans-serif;
    text-align: center;
}
.h1s{
    font-family: "Madimi One", sans-serif; 
}
/* tr>td:nth-child(3),tr>th:nth-child(3),tr>td:nth-child(4),tr>th:nth-child(4){ 
    display: none;
} */
/* 
#img_footer{
    width: 100%;
    height: auto;
} */
#footer { 
   
    width: 100%;
}
#div_footer{ 
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    width: 100%;
    height: auto;
}
#div_footer img { 
    width: 50%; 
    background-image: cover;
}

#div_btncad{
    /* background-color: antiquewhite; */
}
#divimgd{
    width: 200px;
    /* background-color: red; */
  
}
#divimgd img { 
    width: 70%;
    padding-left: 15px;
}
#div_btncad{
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    /* justify-content: end; */
    width: 100%;
}