{% set username = constant('USERNAME') %}
{% set useremail = constant('USEREMAIL') %}
{% set userid = constant('USERID') %}
{% set userdata = constant('USER_DATA') %}
{% set usernivel = constant('USER_NIVEL') %}

{% set pag_homeuser = constant('URL_HOMEUSER') %}
{% set pag_homeadmin = constant('URL_HOMEADM') %}
{% set pag_admin = constant('URL_EXIBIR_ADMIN') %}
{% set pag_tentaacesso = constant('URL_TENTA_ACESSO') %}
{% set uri = constant('URI_SERVER') %}



{% block php %}
{% endblock %}

<!DOCTYPE html>
<html lang="pt-br" class="htmlpags"></html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.2/af-2.7.0/b-3.0.1/b-html5-3.0.1/fc-5.0.0/fh-4.0.1/r-3.0.0/rg-1.5.0/rr-1.5.0/sb-1.7.0/sl-2.0.0/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/style.css"> 



    {% block link %}
    {% endblock %}
</head>
    <body class="body " >
    
        {% block body %}
        {% endblock %}
      
    </body>

 
    {% block footer %}
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.2/af-2.7.0/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/fc-5.0.0/fh-4.0.1/r-3.0.0/rg-1.5.0/rr-1.5.0/sb-1.7.0/sl-2.0.0/datatables.min.js"></script>
    

    <script src="/assets/js/uteis.js"></script>
    <script src="/assets/js/sweet_alert.js"></script>
    <script src="/assets/js/button_events.js"></script>
    <script src="/assets/js/modal.js"></script>
    <script src="/assets/js/editar_dados.js"></script>
    <!-- <script src="/assets/js/enviar_dados.js"></script> -->
    <script src="/assets/js/ajax.js"></script>
    
    
    <!-- <script src="/assets/js/data_tables.js"></script> -->
    <script src="/assets/js/dark_mode.js"></script>
    <script src="/assets/js/validar_cep.js"></script>

    {% block script %}
    {% endblock %}
</html>
