{% set exptoken = constant('EXP_TOKEN') %}

  <section id="sessao_adm" class="bg-transp">
    <div id="fotoPerfil">
       <img id="img_perfil" src="/assets/img/perfilM.svg" alt="">
    </div>
    <div id="div_info">
      <div id="nomeAdm">
          <h4 class="escletra h1s">Bem-vindo, {{username}}!</h4>
      </div>
        <div  id="temposessao" class="d-none">{{exptoken}}</div>
        <div class="d-flex gap-1">
            <p>Sessão Expira em: </p> 
           <span id="temposessao2"></span>
        </div>
    </div>
  </section>

