
{% set exptoken = constant('EXP_TOKEN') %}


<section id="nav" class=' col-md-8 bg-transp' >
    
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {% if usernivel == 5%}
                        <a class="nav-link active" aria-current="page" 
                        href="/admin/home_adm">Cadastros</a>
                        {%else%}
                        <a class="nav-link active" aria-current="page" 
                        href="/user/home_user">Cadastros</a>
                        {%endif%}
                    </li>
                    {% if usernivel == 5 %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/exibiradmins" >Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tentativasacesso">Tentativas de Acesso</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Configurações
                        </a>
                        <ul class="dropdown-menu">
                            {% if usernivel != 5 %}
                            <li><a class="dropdown-item" href="#">Configurações de Usuario</a></li>
                            {% endif %}

                            {% if usernivel == 5 %}
                            <li><a class="dropdown-item" href="/admin/configadms">Configurações de Administradores</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <!-- <li><a class="dropdown-item" href="#">Configurações de Sistema</a></li> -->
                            {% endif %}
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

        </div>
        <div>
            <button id="btn_sair" class="btn btn-danger">Sair</button>
          </div>
        <div id="div_icons">
            <i id="icon_home" class="fa-solid fa-moon icons"  data-bs-toggle="tooltip" title="Modo Dark/Ligth"></i>
            </abbr>

        </div>
    </nav>
</div>

</section>