<section id="sessao_cadastro">
</section>
    <!-- Sessao modal  -->
    <section id="sessao_modal">

        <div class="modal bg-transp" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">


                    <div class="modal-header">
                        <!-- <h4 class="modal-title">Insira os novos dados de edição</h4> -->
                        <button id="btn_close" type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>


                    <div class="modal-body">

                        <form id="form_cad" class="">

                          
                            <h3 id="title_h3">Cadastro</h3>
                            <input type="hidden" name="id" id="id" class="form-control">
                            <label for="nome" class="form-label"><b>Nome:</b></label><br>
                            <input type="text" id="nome" name="nome" placeholder="Digite seu nome !" class="form-control"><br><br>
                            <label for="email" class="form-label"><b>Email:</b></label><br>
                            <input type="text" id="email" name="email" placeholder="Digite seu email" class="form-control"><br><br>
                            <label for="senha" class="form-label"><b>Senha:</b></label><br>
                            <input type="text" id="senha" name="senha" placeholder="Digite sua senha" class="form-control"><br><br>
                            <label for="nivel" class="form-label"><b>Nivel:</b></label><br>
                            <input type="number"  min="1" max="5" id="nivel" name="nivel" placeholder="Nivel de permissao" class="form-control"><br><br>
                          
                 
                         
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button id="fechar" type="button" class="btn btn-danger">Fechar</button>
                        <button id="btn_enviarCad" type="button" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </div>
        </div>


    </section>
